<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Cards</title>
</head>
<body>

<div>
    <h2>Cards:</h2>
    <div id="all-cards-data"></div>
</div>

<script src="/static/js/usersAndCards.js"></script>

<script th:inline="javascript">
    const id = [[${user_id}]];
    document.addEventListener('DOMContentLoaded', function() {
        loadDataCardsByUserId(id);
    });
</script>

</body>

</html>
