<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Transactions</title>
</head>
<body>

<div>
    <h2>Transactions:</h2>
    <div id="all-card-transactions-data"></div>
</div>

<script src="/static/js/transactions.js"></script>

<script th:inline="javascript">
    const id = [[${id}]];
    document.addEventListener('DOMContentLoaded', function() {
        loadDataTransactionsByCardId(id);
    });
</script>

</body>

</html>
