<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
</head>

<body>

<div style="display: flex; width: 100%; height: 100vh;">
    <div style="width: 50%; box-sizing: border-box; padding: 20px;">
        <h2>Transaction menu</h2>
        <div>
            <form id="myForm">>
                <div>
                    <label for="idFrom">From card id:</label>
                    <input type="text" id="idFrom" name="idFrom" required>
                </div>
                <div>
                    <label for="idTo">To card id:</label>
                    <input type="text" id="idTo" name="idTo" required>
                </div>
                <div>
                    <label for="amount">Amount:</label>
                    <input type="number" id="amount" name="amount" step="0.01" required>
                </div>
                <button type="submit">Transaction</button>
            </form>
        </div>

        <h2>Users:</h2>
        <div id="all-users-data"></div>
    </div>

    <div style="width: 50%; box-sizing: border-box; padding: 20px;">
        <h2>History of transactions</h2>
        <div id="all-transactions-data"></div>
    </div>
</div>

<script src="/static/js/loadFunctions.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        loadDataOfAllUsers();
        loadDataOfAllTransactions(10);
    });
    document.getElementById('myForm').addEventListener('submit', function(event) {
        event.preventDefault();
        let idFrom = this.idFrom.value;
        let idTo = this.idTo.value;
        let amount = this.amount.value;
        transaction(idFrom, idTo, amount);
  });
</script>

</body>

</html>
